*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

form {
  width: 330px;
}
.instagram_icon_wrapper {
  width: 200px;
  height: 120px;
}
.email_input,
.password_input {
  background-color: #fafafa;
}
img[alt="Facebook Icon"] {
  width: 28px;
  height: 28px;
}
.login_with_facebook_link,
.forgot_password_link,
.sign_up_link {
  color: #1178f2;
}
footer * {
  color: #737373;
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .container {
    padding-right: 25px !important;
    padding-left: 25px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;

    border: none !important;
  }

  form {
    width: 290px;
  }
  .instagram_icon_wrapper {
    width: 150px;
    height: 80px;
  }
  .email_input,
  .password_input {
    background-color: #fafafa;
  }
  label {
    font-size: 14px;
  }
  footer {
    display: none;
  }
}
